# Export all names
useDynLib(seqinr, .registration = TRUE)
exportPattern(".")
importFrom(ade4,dudi.coa)
S3method(as.matrix, alignment)
S3method(getAnnot, SeqAcnucWeb)
S3method(getAnnot, SeqFastaAA)
S3method(getAnnot, SeqFastadna)
S3method(getAnnot, default)
S3method(getAnnot, list)
S3method(getAnnot, logical)
S3method(getAnnot, qaw)
S3method(getFrag, SeqAcnucWeb)
S3method(getFrag, SeqFastaAA)
S3method(getFrag, SeqFastadna)
S3method(getFrag, SeqFrag)
S3method(getFrag, character)
